.container {
  position: relative;
  z-index: $z-index_basic;
  display: flex;
  margin-bottom: $layout-size_big*2;
  color: $color_white;

  @extend %layout_container;

  @include pad-under-width() {
    flex-direction: column;
  }

  img {
    width: 100%;

    &.midden-size {
      margin: 0 10%;
      width: 80%;

      @include pad-under-width() {
        margin: 0;
        width: 100%;
      }
    }

    &.small-size {
      margin: 0 20%;
      width: 60%;

      @include pad-under-width() {
        margin: 0;
        width: 100%;
      }
    }

  }

  &__main {
    position: relative;
    flex: 1;
    margin-top: $layout-size_base;
    padding: $layout-size_big;
    padding-top: $layout-size_big*2.2;
    min-height: $height_banner;

    &::before {
      top: 5px;
      left: 5px;
      z-index: $z-index_background;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: hsla(180, 100%, 65%, 0.1) solid 1px;
      background-color: hsla(213, 100%, 45%, 0.10);

      @extend %pseudo-element;
    }
  }

  &__title {
    position: absolute;
    top: -$border-size_board*2.2;
    left: -7px;
    justify-content: center;
    padding-left: $layout-size_big;
    width: 445px;
    height: 184px;
    background-image: url('../../../public/images/title-block.svg');
    background-repeat: no-repeat;
    font-size: 3.5rem;
    line-height: 1.2;

    @extend %flex-column;

    @include phone-width() {
      width: 340px;
      height: 140px;
      background-size: contain;
      font-size: 2rem;
    }

    @include s-phone-width() {
      width: 300px;
      height: 120px;
    }

    &--small {
      font-size: 3rem;
    }

    &--right {
      right: -20px;
      left: auto;
      padding-right: $layout-size_big;
      background-image: url('../../../public/images/title-block--right.svg');
      text-align: right;

      .container__sub {
        margin-right: $row-size_col-margin;
      }
    }
  }

  &__sub {
    margin-bottom: $row-size_col-margin;
    margin-left: $row-size_col-margin;
    font-size: 0.9rem;
    font-family: 'Exo', 'Noto Sans TC', sans-serif;
  }

  &__caption {
    margin-bottom: $layout-size_small;
    color: $color_text-color--accent;
    letter-spacing: 8px;
    font-size: 0.8rem;

    &::after {
      display: inline-block;
      margin-left: $row-size_col-margin;
      width: 40%;
      height: 1px;
      background-color: #707070;
      content: '';
    }
  }

  &__list {
    margin-left: 2rem;
    list-style-type: auto;
    line-height: 1.75;

    li>ol {
      margin-left: $layout-size_big;
      list-style-type: auto;

    }
  }
}
