$color_white:#FFFFFF;
$color_black:#000000;

$color_accent:#111F55;
$color_accent-light:#3D3D7C;
$color_auxiliary:#9F59EE;
$color_primary: #02121C;

$color_text-color:#FFFFFF;
$color_text-color--accent:#0BD7FF;

$color-line:#0068E8;
$color_line-dark:#056783;

$gradient-linear_navbar:#9F59EE,
hsla(268, 81%, 64%, 0.80),
hsla(268, 81%, 64%, 0.60),
hsla(268, 81%, 64%, 0.40),
hsla(268, 81%, 64%, 0.25),
hsla(268, 81%, 64%, 0.15),
hsla(268, 81%, 64%, 0.07),
hsla(268, 81%, 64%, 0.03),
transparent;
$gradient-linear_navbar-block:#111F55,
#3D3D7C,
