$max-width_container:1300px;

$width_container--big:90%;
$width_container:85%;
$width_container--small:75%;

$width_max-layout:410px;

$height_navbar:90px;
$height_banner:400px;

$layout-size_big:50px;
$layout-size_base:40px;
$layout-size_small:30px;

$row-size_col-margin-big:20px;
$row-size_col-margin:10px;

$border-radius_layout:5px;

$border-size_board:34px;

$z-index_background:-1;
$z-index_basic:10;
$z-index_operate:100;
$z-index_overlay:1000;
