%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-row {
  display: flex;
  flex-flow: row;
}

%flex-row-center {
  display: flex;
  align-items: center;
  flex-flow: row;
}

%flex-row-between {
  display: flex;
  justify-content: space-between;
}

%flex-column {
  display: flex;
  flex-flow: column;
}

%flex-column-center {
  display: flex;
  align-items: center;
  flex-flow: column;
}

%flex-column-between {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

%flex-wrap {
  display: flex;
  flex-flow: row wrap;
}
