.role-board {
  @extend %flex-row;

  &__content {
    flex: 1;

    ul {
      display: none;

      &.active {
        display: block;
      }
    }

    li {
      margin-bottom: $row-size_col-margin-big*1.5;
    }
  }

  &__select {
    flex-basis: 240px;
    margin-left: $layout-size_small;

    li {
      margin-bottom: $row-size_col-margin*1.5;
      cursor: pointer;

      &.active {
        background-color: #021b4e;
        border: $color_accent-light solid 2px;
      }
    }
  }
}
